<div id="userForm">
    
   
   <div class="container-fluid">
 
   
  
            <form [formGroup] ="profileForm" (ngSubmit)="onSubmit()" > 
 
                           <ul class="nav nav-tabs ">   
                           <li class="nav-item">
                           <a class="nav-link active" data-toggle="tab" href="#home">Employee Information</a>
                           </li>     
                           <li class="nav-item">
                           <a class="nav-link" data-toggle="tab" href="#menu1">Education Details</a>
                           </li>
                           <li class="nav-item">
                           <a class="nav-link" data-toggle="tab" href="#menu2">Personal Documents</a>
                           </li>
                           <li class="nav-item">
                             <a class="nav-link" data-toggle="tab" href="#menu3">Finance Information</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#menu4">Office Information</a>
                           </li>
                           </ul>
                          
     
                          
 
           <div class="tab-content">
                                  <div class="tab-pane container active" id="home">
                                   
 
                                   
                                    <div class="row">
 
                                 <div class="col">
 
 
                                   <div class="form-group">
 
 
                                      <label><br>
                                       <i class="fa fa-id-card" aria-hidden="true"></i> First Name:
                                       <input type = "text" class="form-control"  formControlName="firstname">
                                     </label><br>
                       
                                      </div>
 
                                      <div class="form-group">
            
                                         <label><br>
                                            <i class="fa fa-id-card" aria-hidden="true"></i> Last Name:
                                           <input type="text" class="form-control" formControlName="lastname">    
                                          </label><br>
                            
                                           </div>
     
   
   
   
                                     
 
                                           
 
 
                <div class="form-group">
 
              <label><br>
               <i class="fa fa-id-badge" aria-hidden="true"></i> PAN Card Number:
               <input type="text" class="form-control"  formControlName="pan card number">    
              </label><br>
 
               </div>
 
 
               <div class="form-group">
       
              <label><br>
               <i class="fa fa-id-badge" aria-hidden="true"></i> Aadhar Card Number:
               <input type="text" class="form-control"  formControlName="aadhar card number">    
              </label><br>
 
               </div>
 
 
               <div class="form-group">
 
                 <label><br>
                     <i class="fa fa-map-pin" aria-hidden="true"></i> Current Adress Pincode:
                     <input type="number"   class="form-control"  formControlName="current address Pincode">    
                 </label><br>
 
                 </div>
 
                  <div class="form-group">
 
                     <label><br>
                         <i class="fa fa-map-marker" fa-3x aria-hidden="true"></i> Current Address - Flat/Door/Building :
                       <input type="text"  class="form-control" formControlName="Current Address - Flat/Door/Building">    
                        </label><br>
 
                     </div>
 
                <div class="form-group">
 
              <label><br>
               <i class="fa fa-map-marker" fa-3x aria-hidden="true"></i>  Current Address - Road/Street/Block/Sector:
               <input type="text"  class="form-control"  formControlName="Current Address - Road/Street/Block/Sector">    
              </label><br>
 
               </div>
 
 
               <div class="form-group">
       
              <label><br>
               <i class="fa fa-map-marker" fa-3x aria-hidden="true"></i>  Current Address - Area/Locality:
               <input type="text" class="form-control"  formControlName="Current Address - Area/Locality">    
              </label><br>
 
               </div>
           
 
           
 
               <div class="form-group">
       
              <label><br>
               <i class="fa fa-map-marker" fa-3x aria-hidden="true"></i>  Current Address - District:
               <input type="text" class="form-control" formControlName="Current Address - District">    
              </label>
              <br>
               </div>
       
 
              <div class="form-group">
 
 
              <label><br>
               <i class="fa fa-map-marker" fa-3x aria-hidden="true"></i> Current Address - State:
               <input type="text" class="form-control" formControlName="Current Address - State">    
              </label><br>
 
               </div>
 
               <div class="form-group">
       
                 <label><br>
                     <i class="fa fa-map-pin" aria-hidden="true"></i> Permanent Address Pincode:
               <input type="number" class="form-control"  formControlName="permanent address Pincode">    
                   </label><br>
 
                 </div>
 
 
           <div class="form-group">
 
             <label><br>
               <i class="fa fa-map-marker" fa-3x aria-hidden="true"></i>  Permanent / Native Address - Flat/Door/Building :
                 <input type="text" class="form-control"   formControlName="Permanent / Native Address - Flat/Door/Building">    
                   </label><br>
 
                 </div>
 
                 <div class="form-group">
 
                   <label><br>
                    <i class="fa fa-map-marker" fa-3x aria-hidden="true"></i>  Permanent Address - Road/Street/Block/Sector:
                    <input type="text"  class="form-control"  formControlName="Permanent Address - Road/Street/Block/Sector">    
                   </label><br>
      
                    </div>
      
      
                    <div class="form-group">
            
                   <label><br>
                    <i class="fa fa-map-marker" fa-3x aria-hidden="true"></i>  Permanent Address - Area/Locality:
                    <input type="text" class="form-control"  formControlName="permanent Address - Area/Locality">    
                   </label><br>
      
                    </div>
                
       
             <div class="form-group">
       
              <label><br>
               <i class="fa fa-map-marker" fa-3x aria-hidden="true"></i>  Permanent / Native Address - District:
               <input type="text" class="form-control" formControlName="Permanent / Native Address - District">    
              </label><br>
 
               </div>
 
              <div class="form-group">
       
              <label><br>
               <i class="fa fa-map-marker" fa-8x aria-hidden="true"></i>  Permanent / Native Address - State:
               <input type="text" class="form-control" formControlName="Permanent / Native Address - State">    
              </label><br>
 
               </div>
     
 
             <div class="form-group">
 
 
 
             <label><br>
               Gender:<br>
       
               <input type="radio" id="male" name="gender" value="male">
               <label for="male"> Male <i class="fa fa-male" aria-hidden="true"></i>
                </label><br>
               <input type="radio"   id="female" name="gender" value="female">
               <label for="female">Female <i class="fa fa-female" aria-hidden="true"></i> </label><br>
               <input type="radio"  id="other" name="gender" value="other">
               <label for="other">Other <i class="fa fa-transgender-alt" aria-hidden="true"></i> </label>
           </label><br>
  
            </div>
 
 
           <div class="form-group">
 
 
 
           <label><br>
               <i class="fa fa-calendar" aria-hidden="true"></i> Date of Birth:
               <input type="date" class="form-control"  formControlName="Date of Birth">    
              </label><br>
 
               </div>
 
 
 
              <div class="form-group">
 
 
   
              <label><br>
               <i class="fa fa-child" aria-hidden="true"></i> Age:
               <input type="text" class="form-control"  formControlName="age">    
              </label><br>
 
               </div>
 
 
 
             
 
              <div class="form-group">
 
 
 
              <label><br>
               <i class="fa fa-id-card" aria-hidden="true"></i> Father's Name:
               <input type="text" class="form-control" formControlName="father's name">    
              </label><br>
 
               </div>
 
 
              <div class="form-group">
 
 
 
       
              <label><br>
               <i class="fa fa-id-card" aria-hidden="true"></i> Spouse Name:
               <input type="text" class="form-control" formControlName="spouse name">    
              </label><br>
 
               </div>
 
 
              <div class="form-group">
 
 
       
              <label><br>
               <i class="fa fa-calendar" aria-hidden="true"></i>  Spouse DOB:
               <input type="date" class="form-control" formControlName="Spouse DOB">    
              </label><br>
 
               </div>
 
 
              <div class="form-group">
 
 
       
              <label><br>
               <i class="fa fa-plus-square"></i> Blood Group:
               <input type="text" class="form-control" formControlName="blood group">    
              </label><br>
 
               </div>
 
              </div>
 
              <div class="col-md-6" >
 
               <div class="form-group">
 
              
                 <label><br>
                  <i class="fa fa-calendar-o" aria-hidden="true"></i> Notice period(in days):
                  <input type="number" class="form-control" formControlName="notice period in days">    
                 </label><br>
  
              </div>
  
  
  
          
 
                 
       
       
                  <div class="form-group">
           
                  <label><br>
                      <i class="fa fa-envelope" aria-hidden="true"></i> Personal Email ID:
                   <input type="email" class="form-control" formControlName="personal email id">    
                  </label><br>
       
                </div>
  
  
  
  
                 <div class="form-group">
      
                 <label><br>
                  <i class="fa fa-id-card" aria-hidden="true"></i> Associate ID:
                  <input type="number" class="form-control" formControlName="associate id">    
                 </label><br>
  
              </div>
  
  
  
  
                 <div class="form-group">
          
          
                 <label><br>
                  <i class="fa fa-volume-up" aria-hidden="true"></i> Source:
                  <input type="text" class="form-control" formControlName="source">    
                 </label><br>
  
              </div>
  
  
  
                 <div class="form-group">
          
                 <label><br>
                  <i class="fa fa-id-card" aria-hidden="true"></i> Associate Name:
                  <input type="text" class="form-control" formControlName="associate name">    
                 </label><br>
  
              </div>
 
                              
 
              <div class="form-group">
                 <label><br>
                  <i class="fa fa-star-o" aria-hidden="true"></i> Status:<br>
          
                  <input type="radio" id="Active" name="status" value="active">
                  <label for="active">Active</label><br>
                  <input type="radio" id="inactive" name="status" value="inactive">
                  <label for="inactive">Inactive</label><br>
                  <input type="radio" id="sebbatical" name="status" value="sebbatical">
                  <label for="sebbatical">Sebbatical</label><br>
                  <input type="radio" id="maternity" name="status" value="maternity">
                  <label for="maternity">Maternity</label><br>
                  <input type="radio" id="Resigned" name="status" value="Resigned">
                  <label for="Resigned">Resigned</label><br>
              </label><br>
  
          </div>
  
  
  
  
              <div class="form-group">
          
              <label><br>
                  <i class="fa fa-info-circle" aria-hidden="true"></i> Mode of Employement:<br>
          
                  <input type="radio"  id="full time" name="mode of employement" value="full time">
                  <label for="full time">Full Time</label><br>
                  <input type="radio" id="contract" name="mode of employement" value="contract">
                  <label for="contract">Contract</label><br>
                  <input type="radio" id="internship" name="mode of employement" value="internship">
                  <label for="internship">Internship</label><br>
              </label><br>
  
  
          </div>
  
  
  
              
           
  
         
                    
  
  
  
  
               <div class="form-group">
  
  
  
              <label><br>
                  <i class="fa fa-desktop" aria-hidden="true"></i>  Designation:
                  <input type="text" class="form-control" formControlName="designation">    
                 </label><br>
  
               </div>
  
  
  
                 <div class="form-group">
          
                 <label><br>
                  <i class="fa fa-location-arrow" aria-hidden="true"></i> Office Location:
                  <input type="text" class="form-control" formControlName="office location">    
                 </label><br>
  
               </div>
          
  
  
          
  
               
  
  
                 
  
                 <div class="form-group">
          
                 <label><br>
                  <i class="fa fa-users" aria-hidden="true"></i>  Team:
                  <input type="text" class="form-control" formControlName="team">    
                 </label><br>
  
               </div>
  
  
                 <div class="form-group">
          
                 <label><br>
                  <i class="fa fa-users" aria-hidden="true"></i> Department Name:
                  <input type="text" class="form-control" formControlName="sub team">    
                 </label><br>
  
               </div>
               <div class="form-group">
          
                 <label><br>
                  <i class="fa fa-id-card" aria-hidden="true"></i> Skype ID:
                  <input type="text" class="form-control" formControlName="Skype ID">    
                 </label><br>
  
               </div>
  
                 
  
  
  
                 <div class="form-group">
          
                 <label><br>
                  <i class="fa fa-id-card" aria-hidden="true"></i> Performance Coach:
                  <input type="text" class="form-control" formControlName="performance coach">    
                 </label><br>
  
               </div>
  
  
                 <div class="form-group">
          
                 <label><br>
                  <i class="fa fa-id-card" aria-hidden="true"></i>  Performance Coach ID:
                  <input type="number" class="form-control" formControlName="performance coach id">    
                 </label><br>
  
               </div>
  
  
                 <div class="form-group">
      
                 <label><br>
                  <i class="fa fa-calendar-o" aria-hidden="true"></i> Total experience:
                  <input type="number" class="form-control" formControlName="total experience">    
                 </label><br>
  
               </div>
 
 
               <div class="form-group">
 
                 <label><br>
                   <i class="fa fa-id-card" aria-hidden="true"></i> App Modified By :
                  <input type="text" class="form-control"  formControlName="App Modified By">    
                 </label><br>
    
                  </div>
  
                
  
             <div class="form-group">
      
             
             <label><br>
              <i class="fa fa-mobile" aria-hidden="true"></i> Mobile Number:
              <input type="text" class="form-control" formControlName="mobile number">    
             </label><br>
  
           </div>
  
             <div class="form-group">
      
             <label><br>
              <i class="fa fa-mobile" aria-hidden="true"></i> Emergency Contact Number:
              <input type="text" class="form-control" formControlName="emergency contact number">    
             </label><br>
             </div>
 
 
             <div class="form-group">
 
 
 
               <label><br>
                   <i class="fa fa-calendar" aria-hidden="true"></i> Date of Offer:
                   <input type="date" class="form-control"  formControlName="Date of Offer">    
                  </label><br>
     
                   </div>
 
 
                   <div class="form-group">
 
 
 
                     <label><br>
                         <i class="fa fa-calendar" aria-hidden="true"></i> Date of Joining:
                         <input type="date" class="form-control"  formControlName="Date of Joining">    
                        </label><br>
           
                         </div>
               
           </div>
       </div>
                                   
              
 
              <button  type="submit" class="btn btn-primary">Submit</button> 
       
       
       </div>
 
 
 
 
        <div class="tab-pane container fade" id="menu1"> 
 
   <div class="row">
       
 
     <div class="col-md-6">
 
 
        <div class="form-group">
 
 
       
       
           <label><br>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>Bachelors:
            <input type="text" class="form-control"  formControlName="qualification">    
           </label><br>
 
            </div>
 
 
 
 
 
           <div class="form-group">
 
 
    
          
           <label><br>
            <i class="fa fa-percent" aria-hidden="true"></i> Percentage :
            <input type="text" class="form-control"  formControlName="percentage">    
           </label><br>
 
            </div>
 
            <div class="form-group">
 
 
    
             <label><br>
              <i class="fa fa-university" aria-hidden="true"></i> University:
              <input type="text" class="form-control"  formControlName="university">    
             </label><br>
   
             </div>
 
 
            <div class="form-group">
 
 
       
       
           <label><br>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>Masters:
            <input type="text" class="form-control"  formControlName="qualification">    
           </label><br>
 
            </div>
 
            
 
            <div class="form-group">
 
 
    
          
             <label><br>
              <i class="fa fa-percent" aria-hidden="true"></i> Percentage :
              <input type="text" class="form-control"  formControlName="percentage">    
             </label><br>
   
              </div>
 
              <div class="form-group">
 
 
    
               <label><br>
                <i class="fa fa-university" aria-hidden="true"></i> University:
                <input type="text" class="form-control"  formControlName="university">    
               </label><br>
     
               </div>
 
 
           <div class="form-group">
 
 
    
           <label><br>
            <i class="fa fa-calendar" aria-hidden="true"></i> Year of passing:
            <input type="text" class="form-control"  formControlName="year of passing">    
           </label><br>
 
            </div>
 
 
          
              
            </div>
 
 
            </div>
     
 
          <button type="submit" class="btn btn-primary">Submit</button>
       
 
 
       
   
        </div>
 
 
 
 
 
 
 
   
   
           <div class="tab-pane container fade" id="menu2">
 
 
               <div class="row">
       
 
                   <div class="col-md-6">
                               
                           
                           
                          
               <div class="form-group">
 
               <label><br>
               <i class="fa fa-id-card"    aria-hidden="true"></i>  Name as per PAN card:
               <input type="text"  class="form-control" formControlName="name as per pan card">    
              </label><br>
 
               </div>
       
                     <div class="form-group">
 
 
           <label><br>
               <i class="fa fa-id-badge" aria-hidden="true"></i> PAN Card Number:
               <input type="text" class="form-control"  formControlName="pan card number">    
              </label><br>
 
              </div>
 
              <div class="form-group">
 
              
   
              <label><br>
               <i class="fa fa-id-card" aria-hidden="true"></i> Name as per Aadhar:
               <input type="text"  class="form-control" formControlName="name as per aadhar">    
              </label><br>
 
              </div>
 
              <div class="form-group">
 
             
   
       
              <label><br>
               <i class="fa fa-id-badge" aria-hidden="true"></i> Aadhar Card Number:
               <input type="text"  class="form-control" formControlName="aadhar card number">    
              </label><br>
 
              </div>
 
              <div class="form-group">
 
 
              
   
              <label><br>
               <i class="fa fa-id-card" aria-hidden="true"></i> Name as per passport:
               <input type="text"  class="form-control" formControlName="name as per passport">    
              </label><br>
 
              </div>
 
              <div class="form-group">
 
              
       
              <label><br>
               <i class="fa fa-id-badge" aria-hidden="true"></i> Passport Number:
               <input type="text"  class="form-control" formControlName="passport number">    
              </label><br>
              </div>
           </div>
 
              <div class="col-md-6">
 
              <div class="form-group">
 
             
               
              
              <label><br>
               <i class="fa fa-calendar" aria-hidden="true"></i> Passport Expiry Date:
               <input type="date"  class="form-control" formControlName="Passport Expiry Date">    
              </label><br>
 
              </div>
              
 
             
 
               <div class="form-group">
       
       
              <label><br>
               <i class="fa fa-location-arrow" aria-hidden="true"></i> Passport place of issue:
               <input type="text" class="form-control" formControlName="passport place of issue">    
              </label><br>
              </div>
 
              <div class="form-group">
       
              
              <label><br>
               <i class="fa fa-calendar" aria-hidden="true"></i>  Visa Interview Date:
               <input type="date" class="form-control" formControlName="Visa Interview Date">    
              </label><br>
           </div>
       
           <div class="form-group">
       
              <label><br>
               <i class="fa fa-location-arrow" aria-hidden="true"></i> Visa - Country:
               <input type="text" class="form-control" formControlName="visa - country">    
              </label><br>
              </div>
 
              <div class="form-group">
       
              <label><br>
               <i class="fa fa-calendar" aria-hidden="true"></i> Visa Expiry Date:
               <input type="date" class="form-control" formControlName="Visa Expiry Date">    
              </label><br>
              </div>
              </div>
              </div>
 
 
              <button type="submit" class="btn btn-primary">Submit</button>
   
   
   
             </div>
 
 
 
   
 
           <div class="tab-pane container fade" id="menu3">
 
         
            <div class="row">
       
 
          <div class="col-md-6">
                 
             
             
             
           <div class="form-group">
 
 
           <label><br>
               <i class="fa fa-money" aria-hidden="true"></i>  PF Applicability:<br>
       
               <input type="radio" id="yes" name="pf applicability" value="yes">
               <label for="yes">Yes</label><br>
               <input type="radio" id="no" name="pf applicability" value="no">
               <label for="no">No</label><br>
           </label><br>
 
                 </div>
 
           <div class="form-group">
       
              <label><br>
               <i class="fa fa-university" aria-hidden="true"></i>  PF Number:
               <input type="text" class="form-control" formControlName="pf number">    
              </label><br>
 
           </div>
 
              <div class="form-group">
       
              <label><br>
               <i class="fa fa-university" aria-hidden="true"></i>  UAN:
               <input type="text" class="form-control" formControlName="uan">    
              </label><br>
 
           </div>
 
 
              <div class="form-group">
       
              <label><br>
               <i class="fa fa-hospital-o" aria-hidden="true"></i> ESI Applicability:<br>
       
               <input type="radio" id="yes" name="esi applicability" value="yes">
               <label for="yes">Yes</label><br>
               <input type="radio" id="no" name="esi applicability" value="no">
               <label for="no">No</label><br>
           </label><br>
 
            </div>
 
           <div class="form-group">
       
              <label><br>
               <i class="fa fa-hospital-o" aria-hidden="true"></i> ESI Number:
               <input type="text" class="form-control" formControlName="esi number">    
              </label><br>
 
           </div>
        </div>
 
        <div class="col-md-6">
 
              <div class="form-group">
       
              <label><br>
               <i class="fa fa-university" aria-hidden="true"></i> Bank Name:
               <input type="text" class="form-control" formControlName="bank name">    
              </label><br>
 
           </div>
 
              <div class="form-group">
 
 
              
       
              <label><br>
               <i class="fa fa-university" aria-hidden="true"></i>  Bank Account Number:
               <input type="text" class="form-control" formControlName="bank account number">    
              </label><br>
 
           </div>
 
 
              
 
              <div class="form-group">
       
              <label><br>
               <i class="fa fa-terminal" aria-hidden="true"></i>  IFSC Code:
               <input type="text" class="form-control" formControlName="ifsc code">    
              </label><br>
 
              </div>
 
             </div>
        </div>
 
             <button  type="submit" class="btn btn-primary">Submit</button> 
 
      </div>
 
        
 
 
  <div class="tab-pane container fade" id="menu4">
 
 
        <div class="row">
       
 
           <div class="col-md-6">
                        
 
 
              <div class="form-group">
 
 
              
                 <label><br>
                  <i class="fa fa-calendar" aria-hidden="true"></i> Date of Resignation:
                  <input type="date" class="form-control" formControlName="Date of Resignation ">    
                 </label><br>
  
              </div>
 
              <div class="form-group">
       
                 <label><br>
                  <i class="fa fa-calendar" aria-hidden="true"></i>  Date of Relieving :
                  <input type="date" class="form-control" formControlName="Date of Relieving ">    
                 </label><br>
  
              </div>
 
              <div class="form-group">
 
              
               <label><br>
                <i class="fa fa-calendar-o" aria-hidden="true"></i> Probation period(in days):
                <input type="number" class="form-control" formControlName="Probation period in days">    
               </label><br>
 
            </div>
 
            <div class="form-group">
 
              
             <label><br>
              <i class="fa fa-calendar-o" aria-hidden="true"></i> Relevant Experience:
              <input type="number" class="form-control" formControlName="Relevant Experience">    
             </label><br>
 
          </div>
 
 
 
              <div class="form-group">
       
                 <label><br>
                  <i class="fa fa-calendar" aria-hidden="true"></i>  Relieving Letter Date:
                  <input type="date" class="form-control" formControlName="Relieving Letter Date">    
                 </label><br>
  
              </div>
  
  
  
                 <div class="form-group">
          
          
                 <label><br>
                  <i class="fa fa-commenting-o" aria-hidden="true"></i> Reason for Exit :
                  <input type="text" class="form-control" formControlName="reason for exit">    
                 </label><br>
  
              </div>
 
             
 
  
  
  
  
                 <div class="form-group">
          
                 <label><br>
                  <i class="fa fa-calendar" aria-hidden="true"></i>  Rejoining Date :
                  <input type="date" class="form-control" formControlName="rejoining date">    
                 </label><br>
  
  
              </div>
                  <div class="form-group">
      
                 
                  <label><br>
                      <i class="fa fa-envelope" aria-hidden="true"></i> Spider Email ID:
                   <input type="email" class="form-control" formControlName="spider emaail id">    
                  </label><br>
       
                      </div>
                    
                      <div class="form-group">
       
                       <label><br>
                        <i class="fa fa-line-chart" aria-hidden="true"></i>  Market/Geography:
                        <input type="text" class="form-control" formControlName="market/geography">    
                       </label><br>
        
                     </div>
 
                   </div>
 
                    
                   <div class="col-md-6">
 
                     <div class="form-group">
          
          
                       <label><br>
                           <i class="fa fa-map-marker" aria-hidden="true"></i>  Location:<br>
                   
                           <input type="radio"  id="bengaluru" name="location" value="bengaluru">
                           <label for="bengaluru">Bengaluru</label><br>
                           <input type="radio" id="pune" name="location" value="pune">
                           <label for="pune">Pune</label><br>
                       </label><br>
           
                           </div>
 
                         
                     
 
                       
    
 
                        <div class="form-group">
 
                          <label><br>
                          <i class="fa fa-id-card"    aria-hidden="true"></i>  Office Name:
                          <input type="text"  class="form-control" formControlName="Office Name">    
                         </label><br>
                         
                          </div>
 
 
                          
 
                              <div class="form-group">
 
       
                                <label><br>
                                 <i class="fa fa-arrow-down" aria-hidden="true"></i> SEZ Unit:<br>
                                 <input type="radio"  id="unit1" name="sez unit" value="unit 1">
                           <label for="unit 1">Unit 1</label><br>
                           <input type="radio" id="unit2" name="sez unit" value="unit 2">
                           <label for="unit 2">Unit 2</label><br> 
                           <input type="radio" id="unit3" name="sez unit" value="unit 3">
                           <label for="unit 3">Unit 3</label><br> 
                                </label><br>
                 
                              </div>
 
                              <div class="form-group">
          
                               <label><br>
                                <i class="fa fa-object-group" aria-hidden="true"></i> Business Unit/Group:
                                <input type="text" class="form-control" formControlName="business unit/group">    
                               </label><br>
                
                             </div>
                
                               <div class="form-group">
                        
                               <label><br>
                                <i class="fa fa-id-card" aria-hidden="true"></i> Business Department:
                                <input type="text" class="form-control" formControlName="business department">    
                               </label><br>
                
                             </div>
 
                             <div class="form-group">
      
                               <label><br>
                                <i class="fa fa-calendar-o" aria-hidden="true"></i> No. of years with firm:
                                <input type="number" class="form-control" formControlName="no. of years with firm">    
                               </label><br>
                
                             </div>
                
 
                   </div>
                </div>
 
              <button  type="submit" class="btn btn-primary">Submit</button> 
 
              </div>
           
 
 
           </div>
 
   </form>
 
   
 
  </div>
 
 
 </div>
 
 
 
 
 
 


