
<div class="row" >

    <div class= "col-xs-12" style="padding-top: 0px; border:1px solid black;  width:700px; margin:0 auto;margin-top:75px"  >
    
    
    
        
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <img src="./assets/Images/SpiderLogic.jfif" alt="image" style="margin:0px 0px 0px 242px" >
            HRMS Change Password
        </div>
       
        
    </div>
    
    
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width:97% !important;padding:6px 12px" >
        <p>
            Enter your e-mail address. A link to reset your password will be sent to this e-mail address.
        </p>

        <div class="form-group">
            <label for="Email Id">`</label>
            <input type="text" formControlName="EmailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }" />
            <div *ngIf="submitted && f.EmailId.errors" class="invalid-feedback">
                <div *ngIf="f.EmailId.errors.required">Email Id is required</div>
            </div>
        </div>
        
    
       
        <div class="form-group">
<div class= "col-sm" style="margin: 10px 0px 0px 188px;">
            <button [disabled]="loading" class ="btn btn-success" >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Send Reset password Link
            </button>


            
               <a routerLink="/Login" class="btn btn-link">Cancel</a>
            
           
        </div>
        </div>
    </form>
    
    </div>
    </div>
    
    