<div class="row" >

    <div class= "col-xs-12" style="padding-top: 0px; border:1px solid black;  width:700px; margin:0 auto;margin-top:75px"  >
    
    
    
        
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <img src="./assets/Images/SpiderLogic.jfif" alt="image" style="margin:0px 0px 0px 242px" >
            HRMS Login
        </div>
    </div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="width:97% !important;padding:6px 12px" >
    
<div class="form-group">
    <label for="EmailId">`Email Id</label>
    <input type="text" formControlName="EmailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }" />
    <div *ngIf="submitted && f.EmailId.errors" class="invalid-feedback">
        <div *ngIf="f.EmailId.errors.required">Email Id is required</div>
    </div>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
</div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/Register" class="btn btn-link">Register</a>
        <a routerLink="/update-password" class="btn btn-link" style="margin: 0px 0px 0px 270px;">Forgot Password</a>
    </div>
   
</form>
</div>
</div> 