<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
 
</div>
<!-- <nav>
  <a routerLink="/Login" routerLinkActive="active">Login</a>
  <a routerLink="/Register" routerLinkActive="active">Register</a>
  <a >Add</a>
  
</nav> -->


<router-outlet></router-outlet>
