 #userForm{ 
    background-color: white;
    
      /* background-image: url("../../assets/spider.jpg"); */ 
    /* background-image: url("../../assets/wipfli.png");  */
     /* background-repeat: no-repeat;  */
     /* background-size: contain;  */
    /* background-position: contain; */
    /* background-image: url("https://picsum.photos/seed/picsum/200/300"); */
    
}

.fa{
  color: rgb(0,80,255);

}


