
 <div class="image"> 
    <img src="https://spiderlogic.com/wp-content/uploads/2016/04/logo.png" height="100px"  alt="" srcset="">
</div>
<div class="about">
    <h6><b>Disrupting technology consulting</b></h6><br>
</div>
<div class="story">
    <h4><b>We design and build technology which deliver the right business outcomes</b></h4>
</div>
<!-- <div class="note">  
    <h2>Human Resource Management System</h2>
</div>-->


