 .image{ 
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top: 200px;
    image-resolution: 100px;
    text-align: center;
    
}
.about{

    display:flex;
    align-items:center;
    justify-content: center;
    color:rgb(37, 35, 35);
}
 .note{ 
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 80px 80px;
    color: black;
} 
.story{
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top: 50px;
    color: black;
    
    
}




