<div class="admin-panel">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- card-1 -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-details">
                                    <div class=" icon-section">
                                        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="card-name">
                                        <h5>Add Employee</h5>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- card-1 -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-details">
                                    <div class=" icon-section">
                                        <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="card-name">
                                        <h5>View Employee</h5>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- card-1 -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-details">
                                    <div class=" icon-section">
                                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="card-name">
                                        <h5>Edit Employee</h5>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- card-1 -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-details">
                                    <div class=" icon-section">
                                        <i class="fa fa-download fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="card-name">
                                        <h5>Export Details</h5>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
               
            </div>
        </div>
    </div>
</div>
