.admin-panel{
    margin-top: 100px;
}
.card-body{
    padding: 0px;
}
.icon-section{
    background-color:rgb(0,80,255);
    /* align-self: stretch; */
    padding: 20px;
    color: white;
}
.card-details{
    display: flex;
    /* justify-content: ; */
}
.card-name{
    align-self: center;
    padding-left: 15px;
}
.card{
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all 0.5s;
}
.card:hover{
    transform: scale(1.1);
}