/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif; */
body{ 
  
    font-family: 'Open Sans', sans-serif;
}
/* .logo{ 

    height: 100px;
    width: 100px;
}*/
.navbar{

    padding: 0px 5px;
}
.bg-dark{
    background-color:rgb(0,80,255) !important;

}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
 .logo{
    background-color: rgb(0,80,255);
}