<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" routerLink="/home"> 
            <img src="../../assets/img/logo.png" alt="spiderlogic-logo" class="img-fluid logo" >
        </a>
        <br>
        <!-- <span>Disrupting technology consulting</span> -->
    
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="m-auto"></div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home"> Home</a>
                </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/registration"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </li>
            
           
        </ul>
        </div>
    </div>
  </nav>