
<div class="row" >

<div class= "col-xs-12" style="padding-top: 0px; border:1px solid black;  width:700px; margin:0 auto;margin-top:75px"  >



    
<div class="panel panel-primary" >
    <div class="panel-heading">
        <img src="./assets/Images/SpiderLogic.jfif" alt="image" style="margin:0px 0px 0px 242px" >
        HRMS Register
    </div>
   
    
</div>



<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width:97% !important;padding:6px 12px" >
    
    <div class="col-xs-3">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName"  class="form-control"  container= "max-width-0"[ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>

    <div class="col-xs-3" style ="max-width: width 0">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>

    <div class="col-xs-3" style ="max-width: width 0">
        <label for="employeeNumber">Employee Number</label>
        <input type="text" pattern="^[0-9]*$" maxlength="4" maxlength="5"  formControlName="employeeNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeeNumber.errors }"  style="margin: 0px 0px 19px;"/>
        <div *ngIf="submitted && f.employeeNumber.errors" class="invalid-feedback">
            <div *ngIf="f.employeeNumber.errors.required">Employee Number is required</div>
        </div>
    </div>


    <div class="form-group">
        <select class="form-control" (change)="changeLocation($event)" formControlName="locationName" >
          <option value="">Choose your location</option>
          <option *ngFor="let location of Location" [ngValue]="location">{{location}}</option>
        </select>

        <!-- error block -->
        <div class="invalid-feedback" *ngIf="isSubmitted && locationName.errors?.required">
          <sup>*</sup>Please enter Location
        </div>
      </div>            

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/Login" class="btn btn-link">Cancel</a>
    </div>
</form>

</div>
</div>

